{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        nrepl/nrepl {:mvn/version "0.8.3"}
        cider/cider-nrepl {:mvn/version "0.28.7"}
        io.github.nextjournal/clerk {:git/sha "bdf79084374fc89cd956ec076847c0845c80c911"}
        org.babashka/cli {:mvn/version "0.5.40"}
        ;; silence log warnings
        org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}
 
 :aliases {:nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                               :exec-args {:index "src/advent_of_clerk/index.clj"
                                           :paths-fn aoc.index/build-paths}
                               :main-opts ["-m" "babashka.cli.exec"]}
           :nrepl {:extra-deps {philoskim/debux {:mvn/version "0.8.2"}}
                   :main-opts ["-m" "nrepl.cmdline"
                               "--middleware" "[cider.nrepl/cider-middleware]"
                               "--interactive"]}}}


